<h2>Section 7: Template-driven Forms</h2>
<p>This sections create the component contact-form, use the selector <code>&lt;contact-form&gt;&lt;/contact-form&gt;</code>
     to use the component.</p>
<hr>
    <h3>77. Types of Form</h3>
    <ul>
        <li>Reactive</li>
            <ul>
                <li>More control over validations logic</li>
                <li>Good for coplex forms</li>
                <li>Uni testable</li>
            </ul>
        <li>Template-driven</li>
            <ul>
                <li>Good for simple forms</li>
                <li>Simple validation</li>
                <li>Less code</li>
            </ul>
    </ul>
    <hr>
    <h3>78. ngModel</h3>
    When use the directive <code>ngModel</code> you have to define the attribue <code>name</code> in order to use the template driven approach.
    <hr>
    <view-contact-form></view-contact-form>
    <hr>
    <h3>Assignment 6: Course Form</h3>
    The final result of the sections is This:
    <div class="db-example m-0 border-0">
        <course-form></course-form>
    </div>
    