<h2>Section 9: Consuming HTTP services</h2>
<p></p>
<ul>
    <li>Connect UI to back end server</li>
    <li>Perfom CRUD operations(create, read, update and delete)</li>
    <li>Extract a reusable data service</li>
    <li>Property handle different kind of errors</li>
    <li>Build applications with separation of concerns</li>
</ul>

<hr>
<h3>105. JSONPlaceHolder</h3>
<p>
    We can use this resource for consuming http service (<a href="https://jsonplaceholder.typicode.com/" >https://jsonplaceholder.typicode.com/</a>)
    for testing and prototing.
</p>

<hr>
<h3>106. Getting data</h3>
<p>
    The first step to cosume http service is import the <code>HttpModule</code> in <code>src\app\app.module.ts</code>
</p>
<pre class="prettyprint"><code>
    import &#123; HttpModule &#125; from '@angular/http';
    ...
    imports: [
    BrowserModule,
    AppRoutingModule,
    FormsModule,
    ReactiveFormsModule,
    HttpModule // <- add module
  ],
</code></pre>
<div class="alert alert-warning">
    The code above <code>HttpMode</code> is marked as deprecated. In new versions of angular use <code>HttpClient</code> <code>HttpClientModule</code> from <code>'@angular/common/http'</code>
</div>
<p>
    After import the HttpModule, we can inject the service in our components. And send a simple <code>GET</code>
</p>

<pre class="prettyprint"><code >
    import &#123; Http &#125; from '@angular/http';
    //...
    export class PostsComponent  &#123;
        constructor(http:Http)  &#123; // <- inject http service
            http.get('https://jsonplaceholder.typicode.com/todos/1') // <- calling get
            .subscribe( response => &#125;
            console.log(response);
            &#125;);
        &#125;
    //...
    &#125;
</code></pre>

<hr>
<h3>110. OnInit Interface</h3>
<p>
    implements this Interface <code>OnInit</code> and define the method in the component and after call all method needed for the loading of the page.
    There are more LifeCycle Hooks like:
</p>
<ul>
    <li>OnInit</li>
    <li>OnChanges</li>
    <li>DoCheck</li>
    <li>AfterContentInit</li>
</ul>

<hr>
<h3>111. Separation of concerns</h3>
<div class="alert alert-info" >
    Our classes should have a single responsibility    
</div>
<pre>
    view logic         http or service logic
   +-----------+            +---------+           +---------+
   | Component |  ========> | Service | ========> | Backend |
   +-----------+            +---------+           +---------+
</pre>

<hr>
<h3>112. Extracting a Service</h3>
<p> 
    use the command <code>ng generate service [name-of-the-service]</code> and after you have to add the class in in <code>src\app\app.module.ts</code>.
    example <code>ng generate service PostService</code> see the example below
</p>
<pre class="prettyprint"><code>
    import &#123; PostService &#125; from './services/post.service';
    ...
    providers: [
        PostService
    ],
    ...
</code></pre>

<p>Service code example</p>
<pre class="prettyprint"><code>
    import  &#123; Injectable  &#125; from '@angular/core';
    import  &#123; Http  &#125; from '@angular/http';

    @Injectable( &#123;
    providedIn: 'root'
    &#125;)
    export class PostService  &#123;
    private url = 'https://jsonplaceholder.typicode.com/posts';
    constructor(private http: Http)  &#123;  &#125;

    getPosts() &#123;
        return this.http.get(this.url);
    &#125;

    createPost(post) &#123;
        return this.http.post(this.url, JSON.stringify(post));
    &#125;

    ...

    &#125;
</code></pre>
<p>
    Instead of calling directly from the component we inject the new service in the component see the example in <code>src\app\posts\posts.component.ts</code>
</p>
<pre class="prettyprint"><code>
    ...
    export class PostsComponent  implements OnInit  &#123;
        ...
        constructor(private service:PostService)   &#123; // <- inject service
        &#125;
        ...
     &#125;
</code></pre>

<hr>
<h3>113. Handling Errors</h3>
<p> 
</p>

<h3>114. Handling unexpected Errors</h3>
<p> 
    in subscribe we can define a error function. See the example below
</p>
<pre class="prettyprint"><code>
    .subscribe(
        response =>  &#123;
          //process the response     
         &#125;,
        error => &#123; // <- here we write the code
          alert('An unexpected error occurred.')
          console.log(error);
         &#125;
      );
</code></pre>

<h3>115. Handling expected Errors</h3>
<p> 
    In the same portion de code as before. We can read the error object that is passed in the error function
</p>
<pre class="prettyprint"><code>
    .subscribe(
        response =>  &#123;
          //process the response     
         &#125;,
        error:Reponse => &#123; 
            if(error.status === 400) // <- here we handle a specific error
                this.for.setErrors(error.json()); // 
          alert('An unexpected error occurred.');
          console.log(error);
         &#125;
      );
</code></pre>

<h3>116. Throwing application-specific</h3>
<p> 
    Insted of processing specific http errors in the view component we can define application-specific 
    error by Throwing our own custom error. First create new error class see <code>src\app\common\app-error.ts</code>
    and a good practice is include the original error in the constructor.
</p>

<pre class="prettyprint"><code>
    export class AppError &#123;
        constructor(public originalError?: any) &#123; // <- save the orignal error
        &#125;
    &#125;
</code></pre>

<p>
    And after extend this class to throw  a new specific error, for example for 404 with a new class <code>NotFoundError</code> (see <code>src\app\common\not-found-error.ts</code>) and translate the 
    specific http handling error to the service controller
</p>

<pre class="prettyprint"><code>
    import &#123; AppError &#125; from './app-error';
    export class NotFoundError extends AppError&#123;
    &#125;
</code></pre>

<h3>119. Global Error Handling</h3>
<p> 
    For handle unexpected error we can create a class for handling all of them. We have implement the class <code>ErrorHandler</code> for this example
    the implementation is on <code>src\app\common\app-error-handler.ts</code>
    After this we need to register as dependecy provider in the <code>app.module.ts</code> file, we tell to angular thar replace the original implementation
    for this new one.
</p>
<pre class="prettyprint"><code>
    ...
    providers: [
        CoursesService,
        PostService,
        &#123; provide:ErrorHandler, useClass:AppErrorHandler &#125; // <- here we register as a dependecy provider
    ]
    ...
</code></pre>

<h3>120. Extracting a Reusable Error Handling Method</h3>
<p> 
    For the services, we can create an private error methos for reausable code for handle all common error. see <code>src\app\services\post.service.ts</code>
</p>

<pre class="prettyprint"><code>
    ...
    private handleError(error:Response)&#123; //<- new private method
        if(error.status == 400)&#123;
          return throwError(new BadInput(error.json()))
        &#125;
        if (error.status === 404) &#123;
          return throwError(new NotFoundError());
        &#125;
        return throwError(new AppError(error));
      &#125;
    ...
    update(resource)&#123;
        let url = this.url + '/' + resource.id ;
        return this.http.patch(url, JSON.stringify(&#123; isRead : true &#125;))
          .pipe(
            map( response =>  response.json()),
            catchError(this.handleError) // <- usage of the method
          );
      &#125;
    ...
</code></pre> 

<h3>121. Extracting a Reusable Error Handling Method</h3>
<p> 
    Many times we have many resources that are accessed in the same way for that 
    reason we can create a class that contains all the shared code.
    <br>See <code>src\app\services\data.service.ts</code>
</p>
<pre class="prettyprint"><code>
    ...
    export class DataService &#123;
        constructor(private url:string, private http: Http) &#123; // <- here we have to pass this two params
        &#125;
    &#125;
    ...
</code></pre>
<p>
    An after that extends from the before class. Example: see(<code>src\app\services\post.service.ts</code>)
</p>
<pre class="prettyprint"><code>
    import &#123; DataService &#125; from './data.service';
    import &#123; Injectable &#125; from '@angular/core';
    import &#123; Http &#125; from '@angular/http';


    @Injectable(&#123;
    providedIn: 'root'
    &#125;)
    export class PostService extends DataService &#123;
    
    constructor(http: Http) &#123; 
        super('https://jsonplaceholder.typicode.com/posts', http);//<- is the unique code in the class
    &#125;

    

    &#125;
</code></pre>

<hr>
    <h3>124. Observables vs Promises</h3>
    <p>
        <b>The Observables are lazy</b>, do not doing nothing if you don't call or subscribe to it.
    </p>
    <p>
        <b>The Promises are eager</b>, as soon you create or promises the code is executed, the only methods avialables are <code>.then</code> and <code>.catch</code>
    </p>

    <hr>
    <h3>Assignment 8: GitHub Followers Page</h3>
    <my-followers></my-followers>

<hr>
<hr>
    <h3>Result of the chapter:</h3>
    see <code>src\app\posts\posts.component.ts</code>
      
            <posts></posts>
    


