<div>
  <div>
    <h3>Check box</h3>
  </div>
  <div>
    <mat-checkbox #showDetails [value]="" [checked]="isChecked" (change)="onChange($event)">
      Subscribe to newsletter
    </mat-checkbox>
  
    <div *ngIf="showDetails.checked">Some details....</div>
  </div>
</div>
<div>
  <div><h3>Raddio button</h3></div>
  <div>
    <label id="example-radio-group-label">Select</label>
    <mat-radio-group value="0">
      <mat-radio-button value="1">Male </mat-radio-button>
      <mat-radio-button value="0">Female</mat-radio-button>
    </mat-radio-group>
  </div>
</div>

<div>
  <div><h3>Select</h3></div>
  <div>
    <mat-form-field >
      <mat-label>Select you favorite color</mat-label>
      <mat-select [(ngModel)]="color">
        <mat-option *ngFor="let color of colors" [value]="color.id">
          {{color.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>