<form [formGroup]="form" >
    <div class="form-group">
        <label for="old">Old password</label>
        <input 
            type="password" 
            formControlName="oldPassword"
            id="old" 
            class="form-control">
        <div *ngIf="oldPassword.touched && oldPassword.invalid" class="alert alert-danger">
            <div *ngIf="oldPassword.errors.required">Old password is required.</div>
            <div *ngIf="oldPassword.errors.oldPasswordNotValid">Old password is not valid.</div>
        </div>
    </div>
    <div formGroupName="passwordG" class="form-group">
        <div class="form-group">
            <label for="new">New Password</label>
            <input 
                type="password"
                formControlName="newPassword"
                id="new" 
                class="form-control">
            <div class="alert alert-danger"
                *ngIf="newPassword.touched && newPassword.invalid">
                <div *ngIf="newPassword.errors.required">New password is required</div>
            </div>
        </div>
        <div class="from-group">
            <label for="repeat">Confirm Password</label>
            <input 
                type="password" 
                formControlName="repeatPassword"
                id="repeat" 
                (change)= "log()"
                class="form-control">
            <div class="alert alert-danger"
                *ngIf="repeatPassword.touched && form.controls.passwordG.invalid">
                <div *ngIf="repeatPassword.invalid && repeatPassword.errors?.required">Confirm password is required.</div>
                <div *ngIf="form.controls.passwordG.errors?.notSame">Password don't match.</div>
            </div>
        </div>
    </div>
    <button class="btn btn-primary"  type="submit" [disabled]="form.invalid || form.pending" >Change password</button>
</form>